.skeleton {
  position: relative;
  max-width: 685px;
  height: 154px;

  .container {
    position: absolute !important;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 8px;

    .button {
      align-self: end;
      margin-top: 12px;
    }
  }
}

.title-root {
  display: flex;

  .title {
    font-size: 18px;
  }

  .version {
    margin-left: auto;
    font-size: 16px;
    font-weight: normal;
  }
}

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  margin-top: 12px;

  p-progressbar {
    width: 100%;
    --p-progressbar-height: 2px;
  }
}
