<jcm-scroll-view>
  @for (plugin of plugins() | async; track plugin.id) {
  <jcm-shaded-card>
    <ng-template #title>
      <div class="title-root">
        <div class="title">
          {{ plugin.name }}
        </div>
        <div class="version">
          {{ plugin.version }}
        </div>
      </div>
    </ng-template>
    @if (plugin.author){
    <ng-template #subtitle>
      {{ 'plugin..by' | translate }} {{ plugin.author.name }}
    </ng-template>
    }
    {{ plugin.description![lang()] }}
    <ng-template #footer>
      <div class="footer">
        @if (plugin.isInstalling){
        <p-progressbar mode="indeterminate" />
        }
        @if (plugin.isInstalled){
        <p-tag severity="success">
          <google-icon iconName="check" />
          <span>{{ 'installed' | translate }}</span>
        </p-tag>
        }
        @else {
        @if (plugin.isInstallationFailed && !plugin.isInstalling){
        <p-tag severity="danger">
          <google-icon iconName="error" />
          <span>{{ 'installation-failed' | translate }}</span>
        </p-tag>
        }
        <p-button label="{{ 'install' | translate }}"
                  size="small"
                  variant="outlined"
                  raised="true"
                  [disabled]="plugin.isInstalling"
                  (onClick)="install(plugin)" />
        }
      </div>
    </ng-template>
  </jcm-shaded-card>
  }
  @empty {
  @for (i of [0, 1, 2]; track i){
  <div class="skeleton">
    <p-skeleton class="container" width="100%" height="100%" />
    <div class="content">
      <p-skeleton width="120px" height="24px" />
      <p-skeleton width="150px" height="19px" />
      <p-skeleton width="570px" height="19px" />
      <p-skeleton class="button" width="136px" height="32px" />
    </div>
  </div>
  }
  }
</jcm-scroll-view>
