<div ngTabs>
  <div ngTabList
       orientation="vertical"
       selectionMode="explicit"
       [selectedTab]="selectedItem()">
    @for (item of items(); track item.id) {
    <div ngTab [value]="item.id"
         pButton [text]="true"
         pRipple>
      <google-icon [iconName]="item.icon" [size]="20" />
      <span class="label">{{ item.label | translate }}</span>
    </div>
    }
  </div>
  <div class="content">
    @for (item of items(); track item.id) {
    <div ngTabPanel [value]="item.id" [preserveContent]="true">
      <ng-template ngTabContent>
        <ng-container *ngComponentOutlet="item.component | async" />
      </ng-template>
    </div>
    }
  </div>
</div>
