[ngTabs] {
  display: flex;
  height: 100%;

  [ngTabList] {
    display: flex;
    flex-direction: column;
    min-width: 12.5rem;
    padding: var(--p-navigation-list-padding);
    gap: var(--p-navigation-list-gap);

    [ngTab] {
      display: flex;
      gap: 16px;
      justify-content: flex-start;
      color: var(--p-navigation-item-color);

      &[aria-selected='true'] {
        background: var(--p-highlight-background);

        google-icon {
          color: var(--p-primary-color);
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .content {
    width: 100%;
    padding: 4px;
    border-left: 1px solid var(--p-content-border-color);

    [ngTabPanel] {
      height: 100%;
      overflow: hidden;

      &[inert] {
        display: none;
      }
    }
  }
}
