p-menubar {
  --p-menubar-background: transparent;
  --p-button-border-radius: 0;
  --p-menubar-padding: 0;
  border-width: 0;
}

.icon {
  width: 16px;
  height: 16px;
  margin-inline: 8px;
}

.title {
  font-size: 12px;
  user-select: none;
}

p-button {
  &.close-button {
    --p-button-text-primary-hover-background: var(--p-button-text-danger-active-background);
    --p-button-text-primary-active-background: var(--p-button-text-danger-active-background);
  }

  svg {
    path {
      fill: var(--p-button-text-secondary-color);
    }
  }
}
