.root {
  justify-items: center;
  position: relative;
  height: 100%;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 8px;
    }
  }

  p-scroll-panel {
    display: block;
    width: 100%;
  }

  [cdkDropList] {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;

    .vertical-line {
      width: 2px;
      height: 100%;
      position: absolute;
      left: 50%;
      right: 50%;
      background: var(--p-content-border-color);
    }

    jcm-plugin-pipeline-card {
      z-index: 1;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}
