<div class="root">
  <div #header class="header">
    <google-icon iconName="assignment" />
    {{ 'clipboard-data' | translate }}
  </div>
  <google-icon #arrowIcon iconName="arrow_downward" />
  <jcm-scroll-view>
    <div cdkDropList (cdkDropListDropped)="pluginsPipelineChanged($event)">
      <div class="vertical-line"></div>
      @for(pluginInfo of plugins(); track pluginInfo.plugin.id){
      <jcm-plugin-pipeline-card cdkDrag
                                cdkDragLockAxis="y"
                                [title]="pluginInfo.plugin.name" />
      }
    </div>
  </jcm-scroll-view>
</div>
