<div class="root">
  <div #header class="header">
    <span class="material-symbols-rounded icon">assignment</span>
    {{ 'clipboard-data' | translate }}
  </div>
  <div #arrowIcon class="material-symbols-rounded">arrow_downward</div>
  <jcm-scroll-view [style]="`height: calc(100% - ${header.clientHeight + arrowIcon.clientHeight + 4}px);`">
    <div cdkDropList>
      <div class="vertical-line"></div>
      <jcm-plugin-pipeline-card cdkDrag title="Files Plugin" />
      <jcm-plugin-pipeline-card cdkDrag title="Images Plugin" />
      <jcm-plugin-pipeline-card cdkDrag title="Text Plugin" />
      <jcm-plugin-pipeline-card cdkDrag title="Text Plugin" />
      <jcm-plugin-pipeline-card cdkDrag title="Text Plugin" />
      <jcm-plugin-pipeline-card cdkDrag title="Text Plugin" />
      <jcm-plugin-pipeline-card cdkDrag title="Text Plugin" />
      <jcm-plugin-pipeline-card cdkDrag title="Text Plugin" />
      <jcm-plugin-pipeline-card cdkDrag title="Text Plugin" />
      <jcm-plugin-pipeline-card cdkDrag title="Text Plugin" />
      <jcm-plugin-pipeline-card cdkDrag title="Last Plugin" />
    </div>
  </jcm-scroll-view>
</div>
