<div class="root">
  <div #header class="header">
    <span class="material-symbols-rounded icon">assignment</span>
    {{ 'clipboard-data' | translate }}
  </div>
  <div #arrowIcon class="material-symbols-rounded">arrow_downward</div>
  <jcm-scroll-view [style]="`height: calc(100% - ${header.clientHeight + arrowIcon.clientHeight + 4}px);`">
    <div cdkDropList (cdkDropListDropped)="pluginsPipelineChanged($event)">
      <div class="vertical-line"></div>
      @for(pluginInfo of plugins; track pluginInfo.plugin.id){
      <jcm-plugin-pipeline-card cdkDrag [title]="pluginInfo.plugin.name" />
      }
    </div>
  </jcm-scroll-view>
</div>
