<p-button variant="text" size="small" (onClick)="paste()">
  <div #buttonContent class="content"></div>
</p-button>
@if (isActionButtonsVisible()) {
<div class="action-buttons">
  <p-button class="preview-btn"
            variant="text" size="small"
            (onClick)="preview()">
    <google-icon iconName="open_in_new" [size]="20" />
  </p-button>
  <p-button class="delete-btn"
            variant="text" size="small"
            (onClick)="delete()">
    <google-icon iconName="delete" [size]="20" />
  </p-button>
</div>
}
