:host {
  display: block;
}

p-button {
  --p-button-text-primary-color: var(--p-text-color);
  --p-button-focus-ring-offset: -1px;
}

.content {
  overflow: hidden;
  min-height: 19px;
  max-height: 48px;
}
