<jcm-shaded-card>
  <ng-template #title>
    <div class="title-root">
      <div class="title" data-testid="plugin-card-title">
        {{ pluginInfo().plugin.name }}
      </div>
      <div class="version">
        @if (!isBuiltInPlugin(pluginInfo().plugin.id)){
        {{ pluginInfo().plugin.version }}
        }
        @else {
        {{ 'plugin..built-in' | translate }}
        }
      </div>
    </div>
  </ng-template>
  @if (pluginInfo().plugin.author){
  <ng-template #subtitle>
    {{ 'plugin..by' | translate }} {{ pluginInfo().plugin.author?.name }}
  </ng-template>
  }
  {{ pluginInfo().plugin.description![lang()] }}
  <ng-template #footer>
    <div class="footer">
      @if (!isBuiltInPlugin(pluginInfo().plugin.id)){
      <p-button [label]="'uninstall' | translate"
                variant="outlined"
                raised="true"
                (onClick)="uninstall(pluginInfo().plugin)" />
      }
      <!-- <p-toggle-button [(ngModel)]="isEnabled" -->
      <p-toggle-button [ngModel]="pluginInfo().isEnabled | async"
                       [onLabel]="'enabled' | translate"
                       [offLabel]="'disabled' | translate" />
    </div>
  </ng-template>
</jcm-shaded-card>
