p-menubar {
  --p-menubar-background: transparent;
  --p-menubar-gap: 12px;
  border-width: 0;
}

.title-description {
  display: flex;
  flex-direction: column;
  margin-left: 14px;

  .description {
    font-size: 12px;
  }
}
