.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  [ngTabs] {
    display: flex;
    flex: 1;
    overflow: hidden;

    [ngTabList] {
      display: flex;
      flex-direction: column;
      padding-inline: var(--p-navigation-list-padding);
      padding-bottom: 4px;
      gap: var(--p-navigation-list-gap);

      [ngTab] {
        display: flex;
        flex-direction: column;
        min-width: 64px;
        height: 64px;
        align-items: center;
        justify-content: center;
        padding: 8px;
        gap: 4px;
        color: var(--p-navigation-item-color);

        .label {
          font-size: 10px;
        }

        &[aria-selected='true'] {
          background: var(--p-highlight-background);

          google-icon {
            color: var(--p-primary-color);
          }

          &:focus {
            outline: none;
          }
        }

        &:last-child {
          margin-top: auto;
        }
      }
    }

    p-panel {
      --p-panel-header-padding: 0;
      --p-panel-content-padding: 0;
      margin-right: 4px;
      margin-bottom: 4px;
      overflow: hidden;
      display: flex;
      flex: 1;

      [ngTabPanel] {
        height: 100%;

        &[inert] {
          display: none;
        }
      }
    }
  }
}
