<div class="root">
  <jcm-title-bar />
  <div ngTabs>
    <div ngTabList
         orientation="vertical"
         selectionMode="explicit"
         [selectedTab]="selectedTabId()">
      @for (tab of tabs; track tab.id) {
      <div ngTab [value]="tab.id"
           #tabDirective="ngTab"
           pButton [text]="true"
           pRipple>
        <google-icon [iconName]="tab.icon" [isFilled]="tabDirective.selected()" />
        <div class="label">{{ tab.label | translate }}</div>
      </div>
      }
    </div>
    <p-panel>
      @for (tab of tabs; track tab.id) {
      <div ngTabPanel [value]="tab.id" [preserveContent]="true">
        <ng-template ngTabContent>
          @if (tab.id === selectedTabId()){
          <ng-container *ngComponentOutlet="tab.component; inputs: {'nestedLevelTabId': nestedLevelTabId()}" />
          }
          @else {
          <ng-container *ngComponentOutlet="tab.component" />
          }
        </ng-template>
      </div>
      }
    </p-panel>
  </div>
</div>
