<div #root class="root">
  <input #searchInput pInputText pSize="small" type="text" placeholder="{{ 'search' | translate }}" />
  <div [style.margin-top.px]="SCROLLABLE_AREA_MARGIN_TOP"
       [style.margin-bottom.px]="SCROLLABLE_AREA_MARGIN_BOTTOM">
    <p-panel>
      <p-virtual-scroller class="clips-scroller"
                          [items]="items | async"
                          [itemSize]="21"
                          [scrollHeight]="scrollableAreaHeight"
                          [autoSize]="true"
                          [trackBy]="trackByFn"
                          [appendOnly]="true"
                          (onScroll)="onScroll($event)">
        <ng-template #item let-item>
          <jcm-clip-item [htmlElement]="item" />
        </ng-template>
      </p-virtual-scroller>
    </p-panel>
  </div>
</div>
