<div #root class="root">
  <input #searchInput pInputText pSize="small" type="text" placeholder="Search" />
  <div [style.margin-top.px]="SCROLLABLE_AREA_MARGIN_TOP"
       [style.margin-bottom.px]="SCROLLABLE_AREA_MARGIN_BOTTOM">
    <p-panel [style]="{ overflow: 'hidden' }">
      <!-- @for(item of items(); track item){
        <div>{{item}}</div>
      } -->
      <p-virtual-scroller [items]="items | async"
                          [itemSize]="21"
                          [scrollHeight]="scrollableAreaHeight"
                          [autoSize]="true"
                          [trackBy]="trackByFn"
                          [appendOnly]="true"
                          (onScroll)="onScroll($event)">
        <ng-template #item let-item>
          <jcm-clip-item [htmlElement]="item" />
        </ng-template>
      </p-virtual-scroller>
    </p-panel>
  </div>
</div>
