<div class="root"
     [style.background-color]="isDarkMode() ? '#121212': 'white'"
     [style.opacity]="opacity()">
  <p-block-ui [blocked]="isWindowBlocked" />
  @if (isSettingsMode){
  <div class="resize-handle top"></div>
  <div class="resize-handle bottom"></div>
  <div class="resize-handle left"></div>
  <div class="resize-handle right"></div>
  }
  <div class="top-bar">
    <p-icon-field #iconField>
      <p-inputicon>
        <google-icon iconName="search" />
      </p-inputicon>
      <input #searchInput
             pInputText
             [fluid]="true"
             [disabled]="isSettingsMode"
             type="text"
             [placeholder]="'search' | translate"
             (input)="onSearchChanged(searchInput.value)" />
      @if (searchInput.value) {
      <p-inputicon (click)="clearSearch()">
        <google-icon iconName="close" />
      </p-inputicon>
      }
    </p-icon-field>
    <p-button class="settings-btn" [class.activated]="isSettingsMode"
              variant="text" size="small"
              [matTooltip]="'settings' | translate"
              (onClick)="settingsMode()">
      <google-icon iconName="settings" [size]="25" [isFilled]="isSettingsMode" />
    </p-button>
  </div>
  <p-splitter #splitter
              layout="vertical"
              [gutterSize]="isSettingsMode ? 2 : 0"
              [style.gap.px]="isSettingsMode ? 1 : 2"
              [panelSizes]="[pinnedClipsHeightPercentage(), 100 - pinnedClipsHeightPercentage()]">
    <ng-template #panel>
      <p-block-ui [target]="pinnedClipsPanel" [blocked]="isSettingsMode" />
      <p-panel #pinnedClipsPanel class="pinned-clips">
        <p-scroll-panel>
          @for (pinnedClip of pinnedClips(); track pinnedClip.clipId) {
          <jcm-clip-item [clipId]="pinnedClip.clipId" [htmlElement]="pinnedClip.htmlElement"
                         [isPinButtonVisible]="false"
                         [isUnpinButtonVisible]="true"
                         [isDeleteButtonVisible]="false"
                         (pasteDataRequested)="onPasteDataRequested(pinnedClip.clipId)"
                         (previewDataRequested)="onPreviewDataRequested(pinnedClip.clipId)"
                         (unpinItemRequested)="onUnpinItemRequested(pinnedClip.clipId)" />
          }
        </p-scroll-panel>
      </p-panel>
    </ng-template>
    <ng-template #panel>
      <p-block-ui [target]="regularClipsPanel" [blocked]="isSettingsMode" />
      <p-panel #regularClipsPanel class="clips">
        <p-scroll-panel #regularClipsScrollPanel>
          @for (clip of regularClips(); track clip.clipId) {
          <jcm-clip-item [clipId]="clip.clipId" [htmlElement]="clip.htmlElement"
                         (pasteDataRequested)="onPasteDataRequested(clip.clipId)"
                         (previewDataRequested)="onPreviewDataRequested(clip.clipId)"
                         (pinItemRequested)="onPinItemRequested(clip.clipId)"
                         (deleteItemRequested)="onDeleteItemRequested(clip.clipId)" />
          }
        </p-scroll-panel>
      </p-panel>
    </ng-template>
  </p-splitter>
</div>
