.bold {
  font-weight: bold;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo-section {
  display: flex;
  align-items: center;

  .logo {
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }

  .text-items {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}

.repository-section {
  display: flex;
  align-items: center;

  .github-logo {
    width: 2rem;
  }
}

.acknowledgments-section {

  .logos {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      display: flex;
      width: 150px;

      >* {
        width: 100%;
      }
    }
  }
}

.contacts-section {
  --p-button-label-font-weight: 400;

  .contacts-items,
  .col {
    display: flex;
    flex-direction: column;

    .cols {
      display: flex;
      gap: 2rem;
    }

    .contact-item {
      display: flex;
      align-items: center;
    }
  }

  .direct-email-label {
    margin-inline: 0.8rem;
  }
}

.support-section {
  .bmc-button {
    width: 195px;
  }
}
