/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 4px;
}

p-virtual-scroller.clips-scroller {
  .p-virtualscroller-content {
    width: 100%;
  }
}

jcm-clip-item {
  p-button {
    button.p-button {
      width: 100%;
      justify-content: left;
    }
  }
}
