/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  overflow: hidden;

  @include mat.tooltip-overrides((container-color: var(--p-surface-700),
      container-shape: 4px,
      supporting-text-color: var(--p-surface-0),
    ));
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/material-symbols-rounded.woff2) format('woff2');
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: flex;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

jcm-clip-item {
  p-button {
    button.p-button {
      width: 100%;
      justify-content: left;
    }
  }
}

jcm-navigation-bar {
  p-menu {
    .p-menu {
      height: 100%;
      min-width: unset;
    }

    ul.p-menu-list {
      height: 100%;
      padding-top: 0;

      li:last-child {
        margin-top: auto;
      }
    }
  }
}

jcm-navigation-view {
  p-menu {
    .p-menu {
      height: 100%;
    }
  }
}

jcm-main-window,
jcm-paste-window {
  p-panel {
    .p-panel-content-container {
      width: 100%;
      height: 100%;

      .p-panel-content {
        height: 100%;
      }
    }
  }

  jcm-scroll-view {
    .p-scrollpanel-content-container {
      max-width: 694px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

jcm-paste-window {
  p-scroll-panel {
    .p-scrollpanel-content-container {
      margin-bottom: calc(-2 * var(--p-scrollpanel-bar-size));
    }

    .p-scrollpanel-bar-y {
      inset-inline-end: unset !important;
      width: 2px;
      left: 100% !important;
    }
  }
}

p-card {
  --p-card-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 2px -1px rgba(0, 0, 0, 0.1)
}

p-select {
  min-width: 200px;
}

jcm-clip-full-data-preview {
  .p-scrollpanel-content {
    width: 100% !important;
  }
}

p-slider {
  .p-slider-handle {
    cursor: pointer;
  }
}
