p-menu {
  --p-menu-background: transparent;
  --p-menu-border-color: transparent;
}

a.navigation-item {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  min-width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 4px;
  position: relative;
  border-radius: inherit;

  &.selected {
    background: var(--p-highlight-background);

    google-icon {
      color: var(--p-primary-color);
    }
  }

  &:active {
    background-color: var(--p-button-text-primary-active-background);
  }

  .selection-marker {
    visibility: collapse;
    position: absolute;
    left: 0;
    background-color: var(--p-primary-color);
    width: 4px;
    height: 36px;
    border-radius: 0 4px 4px 0;
  }

  .label {
    font-size: 10px;
  }
}
