<jcm-scroll-view>

  <jcm-settings-card icon="float_landscape_2"
                     [title]="'settings..paste-window..snapping..title' | translate"
                     [description]="'settings..paste-window..snapping..description' | translate">
    <div class="snapping-options">
      <p-select [options]="snappingModes"
                [(ngModel)]="selectedSnappingMode"
                (onChange)="onSnappingModeChanges()">
        <ng-template #item #selectedItem let-item>
          <div class="option-root">
            <google-icon [iconName]="getSnappingModeIconName(item)" [size]="18" />
            <span>{{ 'settings..paste-window..snapping..options..' + item | translate }}</span>
          </div>
        </ng-template>
      </p-select>
      @if (isDisplayEdgesSnappingMode) {
      <p-select [options]="displayEdgePositions"
                [(ngModel)]="selectedDisplayEdgePosition"
                (onChange)="onDisplayEdgePositionChanges()">
        <ng-template #item #selectedItem let-item>
          <div class="option-root">
            <span>{{ 'settings..paste-window..snapping..options..' + item | translate }}</span>
          </div>
        </ng-template>
      </p-select>
      }
    </div>
  </jcm-settings-card>

  <jcm-settings-card icon="resize"
                     [title]="'settings..paste-window..size-title' | translate"
                     [description]="'settings..paste-window..size-description' | translate">
    <div class="size-options">
      <p-ifta-label>
        <p-input-number inputId="width-input"
                        size="small"
                        [inputSize]="5"
                        [allowEmpty]="false"
                        [min]="minWidth" [max]="maxWidth"
                        [ngModel]="width()"
                        (onInput)="setWidth($event)" />
        <label for="width-input">{{ 'width' | translate }}</label>
      </p-ifta-label>
      <p-ifta-label>
        <p-input-number inputId="height-input"
                        size="small"
                        [inputSize]="5"
                        [allowEmpty]="false"
                        [min]="minHeight" [max]="maxHeight"
                        [ngModel]="height()"
                        (onInput)="setHeight($event)" />
        <label for="height-input">{{ 'height' | translate }}</label>
      </p-ifta-label>
    </div>
  </jcm-settings-card>

  <jcm-settings-card icon="opacity"
                     [title]="'settings..paste-window..opacity-title' | translate"
                     [description]="'settings..paste-window..opacity-description' | translate">

  </jcm-settings-card>

</jcm-scroll-view>
