<div class="root">
  <jcm-settings-card icon="language"
                     title="{{ 'language' | translate }}"
                     description="{{ 'language-setting-descriptions' | translate }}">
    <p-select [options]="languages"
              [(ngModel)]="selectedLanguage"
              (onChange)="onLanguageChanged($event)">
      <ng-template #selectedItem let-item>
        <div class="option-root">
          <mat-icon class="option-icon" svgIcon="flags:{{ item.code }}" />
          <div>{{ item.nativeName }}</div>
        </div>
      </ng-template>
      <ng-template #item let-item>
        <div class="option-root">
          <mat-icon class="option-icon" svgIcon="flags:{{ item.code }}" />
          <div>{{ item.nativeName }}</div>
        </div>
      </ng-template>
    </p-select>

  </jcm-settings-card>
  <jcm-settings-card icon="settings" title="Title" description="Descript">

  </jcm-settings-card>
</div>
