<jcm-scroll-view>
  <jcm-settings-card icon="language"
                     title="{{ 'language' | translate }}"
                     description="{{ 'language-setting-descriptions' | translate }}">
    <p-select [options]="languages"
              [(ngModel)]="selectedLanguage"
              (onChange)="onLanguageChanged($event)">
      <ng-template #item #selectedItem let-item>
        <div class="option-root">
          <mat-icon class="option-icon" svgIcon="flags:{{ item.code }}" />
          <span>{{ item.nativeName }}</span>
        </div>
      </ng-template>
    </p-select>

  </jcm-settings-card>
  <jcm-settings-card icon="routine"
                     title="{{ 'theme-mode' | translate }}"
                     description="{{ 'theme-mode..setting-description' | translate }}">
    <p-select [options]="themeModes"
              [(ngModel)]="selectedThemeMode"
              (onChange)="onThemeModeChanged($event)">
      <ng-template #item #selectedItem let-item>
        <div class="option-root">
          <google-icon [iconName]="getThemeModeIconName(item)" />
          <span>{{ 'theme-mode..' + item | translate }}</span>
        </div>
      </ng-template>
    </p-select>
  </jcm-settings-card>
</jcm-scroll-view>
